# ignore folder Data Preprocessing 
#Data Preprocessing
Data\ Preprocessing/2011-08.db
Data\ Preprocessing/2011-08.txt
Data\ Preprocessing/2013-09.db 

#  2013-09small.txt  , instruction.txt is visible
  
data/movie_subtitles.txt
data/2013-09.txt
data/2011-08.txt


#save/

save/model/2013-09small/1-1_512/*

save/model/movie_subtitles/1-1_512/*

save/training_data/2013-09small/*

save/training_data/movie_subtitles/*

